.modal-content{
    color: #99c00f;
    overflow: auto;
    border-radius: 0;
}

.btn-default{
    background-color: #99c00f !important;
    color: white !important;
    border:0;
}

input.error{
    background-color: rgb(255,231,231);
}

.error{
    color:red;
}