<template name="footer">
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-1 padding-top-10">
                            <i class="fa fa-map-marker contac" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-6">
                            <p>1-16-17, Esaka-cho, Suita-city
                                <h4>Osaka, Japan</h4>
                            </p>
                        </div>
                    </div>
                    <div class="row margin-top-10">
                        <div class="col-md-1 padding-bottom-10">
                            <i class="fa fa-phone contac" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-6">
                            <h4>TEL.(06)6339-6362</h4>
                        </div>
                    </div>
                    <div class="row margin-top-10">
                        <div class="col-md-1 padding-bottom-10">
                            <i class="fa fa-envelope contac" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-6">
                            <h4>info-usa@snk-corp.co.jp</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row text-center">
                        <h4>Sobre la compañia</h4>
                    </div>
                    <div class="row text-justify">
                        <p>
                            This change marks a return to SNK’s rich gaming history.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-md-3 margin-top-10">
                            <a href="#"><i class="fa fa-facebook social" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-md-3 margin-top-10">
                            <a href="#"><i class="fa fa-twitter social" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-md-3 margin-top-10">
                            <a href="#"><i class="fa fa-linkedin social" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-md-3 margin-top-10">
                            <a href="#"><i class="fa fa-github social" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>