.color{
    color: white;
}

.readable{
    background-color: #333333;
    padding: 2em;
}

.marginb30{
    margin-bottom: 30px;
}

.comments-header{
    font-size: 14px;
    color: gray;
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px 0px;
    margin-bottom: 20px;
    border-top: 2px solid #333;
    border-bottom: 1px solid #ccc;
}

.comments-registered{
    font-size: 14px;
    font-style: italic;
    padding: 8px 0px;
    margin-bottom: 20px;
}

.active{
    background-color: #99c00f !important;
}

.list-group li{
    list-style-type: none;
}

.no-padding-left{
    padding-left: 0px;
}