<template name="OKComment">
    <div class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" name="cerrar_modal" aria-hidden="true">
                        <span aria-hidden="true">x</span><span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Comentario
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label>Comentario enviado correctamente</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>